 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/img.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 159px 45px 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 85px auto 60px;
}

.u-section-1 .u-text-3 {
  width: 826px;
  margin: 0px auto 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 758px;
}

.u-section-2 .u-text-1 {
  margin: 43px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 27px 0 0;
}




@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 270px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5556em;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-4 {
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 309px;
}

.u-section-4 .u-text-1 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 60px;
}