 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/robot2.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 159px 45px 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 87px auto 60px;
}

.u-section-1 .u-text-3 {
  width: 826px;
  margin: 0px auto 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  margin: 6px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 6px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 3px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 6px 0 20px;
}


@media (max-width: 767px) {
  .u-section-2 .u-text-10 {
    margin-bottom: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 300px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 10px 0 0;
}